.navbarItemWrapper {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 3px;

}

.navbarItemWrapper:hover {
    background-color: #dddee0;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.item {
    color: #4e4d4d;
    font-size: 1.1rem;
    margin-right: 30px;
}
