.header {
    grid-area: header;
    background-color: #223843;
    position: fixed;
    width: 100%;
    z-index: 99999;
  }

.wrapper {
    display: flex;
}

.wrapper img {
    margin-left: 200px;
    width: 40px;
}

.logout {
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 1000px;

}