.profileCardWrapper {
    color: black;
    display: flex;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 11px 10px 3rem 0 #0000003b;
}

.profileCardWrapper .userPic {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 20px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

.profileCardWrapper .userPic img {
    height: 100%;
}

.infoWrapper {
    padding: 20px;
    flex-grow: 1;
}

.userName {
    font-size: 1.8rem;
    padding-bottom: 5px;
}

.userStatus {
    font-size: .9rem;
    opacity: 80%;
    padding-bottom: 15px;
}

.userInfo {
    padding: 20px 0 20px 0;
    border-top: #8d8d8d solid 1px;
    border-bottom: #8d8d8d solid 1px;
}

.accountInfo {
    padding-top: 15px;
}