body {
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: grid;

  grid-template-areas: 
  "header header header"
  "nav content side";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 27% 1fr 15% ;

  font-family: Roboto, -apple-system, sans-serif;
   grid-gap: 10px;
}



