body {
  margin: 0;
  padding: 0;
}

:root {
  --dialog_border: var(--color-light-gray) solid 1px;
  --color-gun-metal : #223843;
  --color-white: #EFF1F3;
  --color-light-gray: #DBD3D8;
  --color-desert-sand: #D8B4A0;
  --color-terra-cotta: #D77A61;
  /*#bfbfbf*/
}

.app-wrapper {
  display: grid;
  grid-template-areas:
  "header header header"
  "nav content side";
  grid-template-rows: 44px 1fr;
  grid-template-columns: 27% 1fr 10% ;
  grid-gap: 10px;

  min-height: 100vh;
  min-width: 100vh;
  
  font-family: Roboto, -apple-system, sans-serif;
  background-color: var(--color-white);
}

.contentWrapper {
  grid-area: content;
}



