body {
  margin: 0;
  padding: 0;
}

:root {
  --dialog_border: #bfbfbf solid 1px;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
  "header header header"
  "nav content side";
  grid-template-rows: 44px 1fr;
  grid-template-columns: 27% 1fr 10% ;
  grid-gap: 10px;

  min-height: 100vh;
  min-width: 100vh;
  
  font-family: Roboto, -apple-system, sans-serif;
  background-color: #eaeaea;
}

.contentWrapper {
  grid-area: content;
}



