.dialogsWrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    min-height: 88vh;
}

.dialogListWrapper {
    border-right: #aaaaaa solid 1px;
}

.currentDialogWrapper {

}

.dialogsWrapper ol {
    list-style: none;
    padding: 0;
    margin: 0;
}