.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {

}

.form{
    width: 50%;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.formItem {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 20px 0;
    overflow: hidden;
}

.input {
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    padding: 20px 0 0 1px;
    color: #323232;
    border: none;
    border-bottom: #aaaaaa solid 1px;
    outline: none;
}

.label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

}

.label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid var(--color-terra-cotta);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.labelContent {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
}

.input:focus + .label .labelContent,
.input:valid + .label .labelContent{
    transform: translateY(-150%);
    color: var(--color-terra-cotta);
}

.input:focus + .label::after,
.input:valid + .label::after {
    transform: translateX(0);
}



.error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    background-color: #eca1a1;
    color: #c73c3c;
    transition: all 0.3s ease;
}

.error.errorHidden {
    background-color: transparent;
    color: transparent;
}

.button {
    width: 100px;
    height: 30px;
    margin: 30px 20px 0 auto;
    background-color: var(--color-terra-cotta);
    color: white;
    border: none;
    border-radius: 3px;
}

.button:hover {
    background-color: var(--color-terra-cotta-hover);
}